{% extends 'base/baselayout.html' %}

{% block title %} Order screen {% endblock %}

{% block content %}
    <div class="d-grid col-12 mx-auto mt-5">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-auto">
                        <p class="m-0">Mã sản phẩm</p>
                    </div>
                    <div class="col">
                        <select class="form-select">
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-auto">
                        <p class="m-0">Ngày nhập sản phẩm</p>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" lang="en-US">
                    </div>
                    <div class="col-auto">
                        <p class="m-0">~</p>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" lang="en-US">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-start">
                <div class="col-2">
                    <button class="btn btn-primary" type="button">Add</button>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">

            </div>
        </div>
    </div>
{% endblock %}
