{% extends 'base/baselayout.html' %}

{% block title %} Master Product screen {% endblock %}

{% block content %}
    <!-- <div class="row">
        <div class="d-grid col-8 mx-auto mt-5">
            <div class="row">
                <div class="col-auto">
                    <p class="m-0">tên sản phẩm</p>
                </div>
                <div class="col-4">
                    <select class="form-select">
                        {% for item in search_data %}
                            <option value="{{ item.category_code }}">{{ item.product_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row mt-3">
        <div class="col-auto text-start">
            <div class="col-auto">
                <button class="btn btn-primary btn-add-new-row" type="button">Add</button>
            </div>
        </div>
        <div class="col-6 text-start">
            <div class="col-auto">
                <button class="btn btn-primary btn-save-new-item" type="button">Save New Item</button>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-12">
            <p class="msg text-success"></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table class="table table-striped table-hover table-sticky">
                <!-- <colgroup></colgroup> -->
                <colgroup></colgroup>
                <colgroup></colgroup>
                <colgroup style="width: 200px;"></colgroup>
                <colgroup style="width: 200px;"></colgroup>
                <thead>
                    <tr>
                        <!-- <th>Mã sản phẩm</th> -->
                        <th>tên sản phẩm</th>
                        <th>loại sản phẩm</th>
                        <th>giá</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="item-product">
                    {% for item in table_data %}
                        <tr id="item_{{ item[0] }}">
                            <td class="product-code hidden"><input type="text" name="product-code" value="{{ item[0] }}"></td>
                            <td class="product-name"><input type="text" name="product-name" value="{{ item[1] }}"></td>
                            <td class="category-code"><input type="text" name="category-code" value="{{ item[2] }}"></td>
                            <td class="product-price"><input type="text" name="product-price" value="{{ item[3] }}"></td>
                            <td class="text-end">
                                <input type="hidden" name="action" value="delete">
                                <button class="btn btn-danger btn-del" type="button">
                                    <i class="fas fa-trash-alt" style="font-size: 20px;"></i>
                                </button>
                            </td>
                            <td class="text-end">
                                <input type="hidden" name="action" value="update">
                                <button class="btn btn-success btn-update" type="button">
                                    <i class="fas fa-save" style="font-size: 20px;"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
{% endblock %}
